/* Existing global styles */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Global styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-root {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

/* Table Styles */
.result-card {
  margin: 20px;
  padding: 20px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left; /* Ensure both headers and data cells are left-aligned */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.result-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
